<!-- test  -->
<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css" />

	<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100' rel='stylesheet' type='text/css'>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
</head>
<body>
  <div class = 'main'>
    <div class = 'header'>
        Challenge Accepted
    </div>
		<div class = 'holder'>
    	<div class = 'shit'>
				<div class = 'chat'>
					<input type="text" name="textMessage" id='textMessage' placeholder="Type Your Lyrics Here">
				</div>
				<div class = 'message'>
				</div>
    	</div>
			<div class = 'information'>
				<h1> TOPIC: sex </h1>
			</div>
		</div>
  </div>
</body>
</html>
