<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="loginstyle.css"/>

	<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100' rel='stylesheet' type='text/css'/>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.1/trianglify.min.js"></script>

  <script language="javascript" type="text/javascript" src="cex.js"></script>
</head>
<body onload = "triainglesBitches()">
  <div id = 'container'>
    <div class = 'main'>
      <div class = 'login'>
        <h1 id = 'lwf'> Lyrics With Friends </h1>
        <div class = 'challenge'
          <h3> Can you handle the challenge? </h3>
          <br>
          <br>
          <form>
            <input type="text" name="username" id='username' placeholder="username">
          </form>
        </div>
        <div class = 'advance'>
          <a href="index.html" class=button id='accepted'> Challenge Accepted </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
