<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="/public/css/loginstyle.css"/>

	<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100' rel='stylesheet' type='text/css'/>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.1/trianglify.min.js"></script>
    <script language="javascript" type="text/javascript" src="/public/js/cex.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="public/js/chat.js"></script>
</head>
<body onload = "triainglesBitches()">
  <div id = 'container' class = 'activeDiv'>
    <div class = 'main'>
      <div class = 'login'>
        <h1 id = 'lwf'> Lyrics With Friends </h1>
        <div class = 'challenge'
          <h3> Can you handle the challenge? </h3>
          <br>
          <br>
          <form>
            <input type="text" name="username" id='username' placeholder="username">
          </form>
        </div>
        <div class = 'advance'>
          <a href="/index.html" class=button id='accepted' onclick='changeScreen()'> Challenge Accepted </a>
        </div>
      </div>
    </div>
  </div>

	<div id = 'chat_container' class = 'inactiveDiv'>
		<div class = 'main'>
			<div class = 'header'>
					Challenge Accepted
			</div>
			<div class = 'holder'>
				<div class = 'shit'>
					<div class = 'chat'>
								<form id="form" action="" onsubmit="return submitfunction();" >
									<input type="hidden" id="user" value="" />
									<input id="m" autocomplete="off" onkeyup="notifyTyping();" placeholder="Type your lyrics here..." />
									<input type="submit" id="button" value="Send"/>
								</form>
					</div>
					<div class = 'message'>
							<ul id="messages"></ul>
						<span id="notifyUser"></span>
					</div>
				</div>
				<div class = 'information'>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
