html, body {
  /*background-color: #F5ECB7;*/
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.main {
  align-items: center;
  display: flex;
  font-family: 'Alegreya Sans SC', sans-serif;
  flex-direction: row-reverse;
  height: 100%;
  justify-content: center;
  margin: 10px 10px 10px 10px;
  /*position: absolute;*/
}

.advance {
  display: flex;
  justify-content: flex-end;
}

.challenge {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login {
  color: #46494C;
  font-size: 20px;
}

#accepted {
  background-color: transparent;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius:5px;
   color: #4D64BC;
   font-family: 'Alegreya Sans SC', sans-serif;
   font-size: 20px;
   text-decoration: none;
   cursor: pointer;
   border: solid 1px;
   padding: 0 10px 0 10px;
   margin: 50px 10px 10px 10px;
}

#container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

#lwf {
  font-size: 60px;
}

#username {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #4D64BC;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  outline: 0;
}

#something {
    height: 200px;
    width: 300px;
    position: absolute;
    left: 30px;
    top: 30px;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: #4D64BC;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #4D64BC;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #4D64BC;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #4D64BC;
}
